

<div class="container">
    <h2 style="text-align: center;" class="mt-5">Update Leave !!!</h2>
    <form name="myform" class="form-group" >
        <div class="row jumbotron">
  
            <div class="col-md-6 mt-4">
            <label  for="inputname">From Date</label>
            <input type="date" [(ngModel)]="leaveEmployee.fromDate"  name="fromDate" class="form-control" placeholder="">
            </div> 
            
            <div class="col-md-6 mt-4">
            <label  for="inputname">To Date</label>
            <input type="date" [(ngModel)]="leaveEmployee.toDate" name="toDate" class="form-control" placeholder="">
            </div> 
  
            <!-- <div class="col-md-7 mt-3">
            <label  for="inputname">Reason fro Leave</label>
            <input type="message"  name="contact" class="form-control" placeholder="" style="height: 130px;">
            </div>     -->
            <div class="col-md-6 mt-3">
              <label for="exampleFormControlTextarea1" [(ngModel)]="leaveEmployee.reasonToLeave" name="reasonToLeave" class="form-label">Reason for Leave</label>
              <textarea class="form-control" [(ngModel)]="leaveEmployee.reasonToLeave" name="reasonToLeave" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            </div>
           
            
            <div class="col-md-6 mt-4">
              <label for="validationDefault04" class="form-label">Employee Name</label>
              <select    (click)=" getEmployeeById(leaveEmployee.employee.employeeId)" [(ngModel)]="leaveEmployee.employeeId"
                                                                         name="employeeId" class="form-select" id="validationDefault04" required>
                <option>Select One</option>
                <option>
                {{leaveEmployee.employee.firstName}} ({{leaveEmployee.employee.emailId}})
              </option>
             </select>
            </div>


            <div class="row">
            <div class="col-md-6 mt-5" style="text-align: center;">
                <button type="Submit" class="btn btn-primary" (click)="formSubmit()">Update</button>
              </div>
    
              <div class="col-md-4 mt-5" style="text-align: center;">
                <button type="reset" class="btn btn-danger">Cancel</button>
              </div>
     </div>
     </form>
     </div>
     
