




    
<section class="vh-100 gradient-custom"  style="background-color:#D5D8DC; margin-top: 56px;">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px; width: 850px; margin-left: -100px;" >



<div class="container; container py-5 h-100;" style="width: 750px;">
    <h2 style="text-align: center;" class="mt-2"> Add Salary Here</h2>
    <form name="myform" class="needs-validation">
        
      <div class="row">
  
            <div class="col-md-6 mt-4">
              <label for="validationDefault04" class="form-label"  style="margin-left: 0px;">Months</label>
              <select  [(ngModel)]="addSalary.months"  name="months"  class="form-select" id="validationDefault04"  required>
              <option selected disabled value="-1">Select Months..</option>
             
              <option>January </option>
              <option>February </option>
              <option>March</option>
              <option>April</option>
              <option>May</option>
              <option>June</option>
              <option>July</option>
              <option>August</option>
              <option>September</option>
              <option>October</option>
              <option>November</option>
              <option>December</option>
              </select>
            </div> 
            
            <div class="col-md-6 mt-4">
              <label for="validationDefault04" class="form-label">Employee Name</label>
              <select   [(ngModel)]="addSalary.employeeId" name="employeeId" class="form-select" id="validationDefault04" required>
              <option>Select One</option>
              <option  *ngFor="let data of employeeData" [value]="data.employeeId">
                {{data.firstName}} ({{data.emailId}})
              </option>
             </select>
          </div>
         </div>

          <div class="row">
            <div class="col-md-6 mt-4">
            <label  for="inputname">Actual_Salary</label>
            <input type="text" [(ngModel)]="addSalary.totalSalary" name="totalSalary" class="form-control" placeholder="Actual_Salary" required>
            </div> 
          

            
            <div class="col-md-6 mt-3">
            <label  for="inputname">Provident_Fund </label>
            <input type="number" [(ngModel)]="addSalary.pf"  name="pf" class="form-control" placeholder="Provident_Fund" required>
            </div>        
          </div>


            <div class="row">
            <div class="col-md-6 mt-3">
            <label  for="inputname">E.S.I</label>
            <input type="number" [(ngModel)]="addSalary.esi" name="esi" class="form-control" placeholder="ESI">
            </div> 
     

           
        
            <div class="col-md-6 mt-3">
            <label  for="inputname">HealthInsurance</label>
            <input type="number" [(ngModel)]="addSalary.medicalInsurance"  name="fromDate"  class="form-control" placeholder="" required>
            </div>     
          </div>
                  
          <div class="row">
            <div class="col-md-6 mt-3">
            <label  for="inputname">Days_Worked</label>
            <input type="number" [(ngModel)]="addSalary.workingDaysInMonths" name="workingDaysInMonths" class="form-control" placeholder="Days_Worked" required>
            </div> 
          </div>
          
           
        
        
        
        
        <div class="row">  
        <div class="col-md-6 mt-3" style="text-align: center;">
            <button type="Submit" class="btn btn-primary" (click)="formSubmit()" (click)="validate()" style="margin-left: 150px;">Submit</button>
          </div>
        <div class="col-md-6 mt-3" style="text-align: center;">
            <button type="reset" class="btn btn-danger" style="margin-right: 140px;"  >Cancel</button>
          </div>
       </div>
  
    </form>
  
   </div>


  </div>
</div>
</div>
</div>
</section>
  
  
  