
<!-- <div style="background-color: aquamarine; width: 500px; height: 500px;  margin-top: 80px;" class="container py-5 h-100;"> -->

<!-- <div class="container; container py-5 h-100" style="margin-left: 490px; margin-top: 45px;">
    <h2 class="mt-5" style="margin-left: 90px;"> Add Salary</h2>
    <form name="myform" class="form-group" >
       
      

         <div class="row">
                 <div class="col-md-4 mt-4">
                <label for="validationDefault04" class="form-label">Months</label>
                <select  [(ngModel)]="addSalary.months"  name="months"  class="form-select" id="validationDefault04" required>
                <option selected disabled value="">Select Months..</option>
                <option value="-1">Choose...</option>
                <option>January </option>
                <option>February </option>
                <option>March</option>
                <option>April</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
                <option>August</option>
                <option>September</option>
                <option>October</option>
                <option>November</option>
                <option>December</option>
                </select>
              </div>
          </div   <div class="col-md-6 mt-3">
            <label  for="inputname">Months</label>
            <input type="text" [(ngModel)]="addSalary.months"  name="months" class="form-control" placeholder="Months">
            </div>        
           -->



          <!-- <div class="row">
            <div class="col-md-4 mt-3">
            <label  for="inputname">Amount</label>
            <input type="number" [(ngModel)]="addSalary.amount" name="amount" class="form-control" placeholder="Amount">
            </div> 
           </div>

           <div class="row">
               <div class="col-md-4 mt-4">
                  <label for="validationDefault04" class="form-label">Employee Name</label>
                  <select  [(ngModel)]="addSalary.employeeId" name="employeeId"  class="form-select" id="validationDefault04" required>
                    <option>Select One</option>
                  <option  *ngFor="let data of employeeData" [value]="data.employeeId">
                    {{data.firstName}} ({{data.emailId}})
                  </option>
                 </select>
                </div>
           </div> -->
        
<!-- 
        <div class="row">
          <div class="col-md-2 mt-3" style="text-align: center;">
            <button type="Submit" class="btn btn-primary" (click)="formSubmit()"  >Submit</button>
          </div>
        <div class="col-md-2 mt-3" style="text-align: center;">
            <button type="reset" class="btn btn-danger"  >Cancel</button>
         </div>
     </div>
   -->

     <!-- </form>
     </div> -->


  





<!-- 
     <section class="vh-100 gradient-custom"  style="background-color:rgb(155, 154, 156); margin-top: 56px;">
      <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-lg-9 col-xl-7">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" style="padding-left: 180px;">Add Salary</h3>
                <form name="myform" class="form-group">
                  
                  


                  <div class="row">
             
                   <div class="col-md-7 mt-4">
                     <label for="validationDefault04" class="form-label">Months</label>
                     <select  [(ngModel)]="addSalary.months"  name="months"  class="form-select" id="validationDefault04" style="padding-left: 60px;" required>
                     <option selected disabled value="">Select Months..</option>
                     <option value="-1">Choose...</option>
                     <option>January </option>
                     <option>February </option>
                     <option>March</option>
                     <option>April</option>
                     <option>May</option>
                     <option>June</option>
                     <option>July</option>
                     <option>August</option>
                     <option>September</option>
                     <option>October</option>
                     <option>November</option>
                     <option>December</option>
                     </select>
                   </div>
               </div>




               <div class="row">
                <div class="col-md-7 mt-3">
                <label  for="inputname">Amount</label>
                <input type="number" [(ngModel)]="addSalary.amount" name="amount" class="form-control" placeholder="Amount">
                </div> 
               </div>
  
                      
    <div class="row">
      <div class="col-md-7 mt-4">
         <label for="validationDefault04" class="form-label">Employee Name</label>
         <select  [(ngModel)]="addSalary.employeeId" name="employeeId"  class="form-select" id="validationDefault04" required>
           <option>Select One</option>
         <option  *ngFor="let data of employeeData" [value]="data.employeeId">
           {{data.firstName}} ({{data.emailId}})
         </option>
        </select>
       </div>
  </div>


            


<div class="row">
  <div class="col-md-3 mt-3" style="text-align: center;">
    <button type="Submit" class="btn btn-primary" (click)="formSubmit()"  >Submit</button>
  </div>
<div class="col-md-3 mt-3" style="text-align: center;">
    <button type="reset" class="btn btn-danger"  >Cancel</button>
 </div>
</div>
               
              
              
              
              
              
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->







<!-- 







    <section class="vh-100 gradient-custom"  style="background-color:rgb(155, 154, 156); margin-top: 56px;">
      <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-lg-9 col-xl-7">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px; width: 500px; margin-left: 110px;">
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" style="padding-left: 100px;">Add Salary</h3>
                <form name="myform" class="needs-validation">
                  
                  
  
  
                  <div class="row needs-validation">
             
                   <div class="col-md-9 mt-2">
                     <label for="validationDefault04" class="form-label"  style="margin-left: 50px;">Months</label>
                     <select  [(ngModel)]="addSalary.months"  name="months"  class="form-select" id="validationDefault04" style="margin-left: 50px;" required>
                     <option selected disabled value="-1">Select Months..</option>
                    
                     <option>January </option>
                     <option>February </option>
                     <option>March</option>
                     <option>April</option>
                     <option>May</option>
                     <option>June</option>
                     <option>July</option>
                     <option>August</option>
                     <option>September</option>
                     <option>October</option>
                     <option>November</option>
                     <option>December</option>
                     </select>
                      <div class="invalid-feedback" style="margin-left: 50px;">Please Select a month...</div> -->
                      
                    
                   <!-- </div>
                   
               </div>
  
  




  
  
               <div class="row g-3 needs-validation">
           
                <div class="col-md-9 mt-4">
                <label  for="inputname" style="margin-left: 50px;">Amount</label>
                <input type="number" [(ngModel)]="addSalary.amount" name="amount" class="form-control" style="margin-left: 50px;" placeholder="Amount"  required> -->
                <!-- <div class="valid-feedback">Valid</div>   -->
                <!-- <div class="invalid-feedback" style="margin-left: 50px;">Please fill this field.</div>               -->
             
                <!-- </div>  -->
               <!-- </div>
   -->








                      
    <!-- <div class="row">
      <div class="col-md-9 mt-4">
        
        <label for="validationDefault04" class="form-label" style="margin-left: 50px;">Employee Name</label>
        <select  [(ngModel)]="addSalary.employeeId" name="employeeId"  class="form-select" id="validationDefault04" style="margin-left: 50px;" required>
          <option>Select One</option>
        <option  *ngFor="let data of employeeData" [value]="data.employeeId">
          {{data.firstName}} ({{data.emailId}})
        </option>
        
       </select> -->
       <!-- <div class="invalid-feedback" style="margin-left: 50px;">Please fill out this field.</div>  -->
      <!-- </div>
  </div>
   -->
  
            
  
  
  <!-- <div class="row">
    <div class="col-md-3 mt-3" style="text-align: center;" style="margin-left: 110px;">
      <button type="Submit" class="btn btn-primary" (click)="formSubmit()" (click)="validate()" >Submit</button>
    </div>
  <div class="col-md-3 mt-3" style="text-align: center;">
      <button type="reset" class="btn btn-danger"  >Cancel</button>
   </div>
  </div>
  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> --> 
  





    
<section class="vh-100 gradient-custom"  style="background-color:#D5D8DC; margin-top: 56px;">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px; width: 850px; margin-left: -100px;" >



<div class="container; container py-5 h-100;" style="width: 750px;">
    <h2 style="text-align: center;" class="mt-2"> Add Salary Here</h2>
    <form name="myform" class="needs-validation">
        
      <div class="row">
  
            <div class="col-md-6 mt-4">
              <label for="validationDefault04" class="form-label"  style="margin-left: 0px;">Months</label>
              <select  [(ngModel)]="addSalary.months"  name="months"  class="form-select" id="validationDefault04"  required>
              <option selected disabled value="-1">Select Months..</option>
             
              <option>January </option>
              <option>February </option>
              <option>March</option>
              <option>April</option>
              <option>May</option>
              <option>June</option>
              <option>July</option>
              <option>August</option>
              <option>September</option>
              <option>October</option>
              <option>November</option>
              <option>December</option>
              </select>
            </div> 
            
            <div class="col-md-6 mt-4">
              <label for="validationDefault04" class="form-label">Employee Name</label>
              <select   [(ngModel)]="addSalary.employeeId" name="employeeId" class="form-select" id="validationDefault04" required>
              <option>Select One</option>
              <option  *ngFor="let data of employeeData" [value]="data.employeeId">
                {{data.firstName}} ({{data.emailId}})
              </option>
             </select>
          </div>
         </div>

          <div class="row">
            <div class="col-md-6 mt-4">
            <label  for="inputname">Actual_Salary</label>
            <input type="text" [(ngModel)]="addSalary.totalSalary" name="totalSalary" class="form-control" placeholder="Actual_Salary" required>
            </div> 
          

            
            <div class="col-md-6 mt-3">
            <label  for="inputname">Provident_Fund </label>
            <input type="number" [(ngModel)]="addSalary.pf"  name="pf" class="form-control" placeholder="Provident_Fund" required>
            </div>        
          </div>


            <div class="row">
            <div class="col-md-6 mt-3">
            <label  for="inputname">E.S.I</label>
            <input type="number" [(ngModel)]="addSalary.esi" name="esi" class="form-control" placeholder="ESI">
            </div> 
     

           
        
            <div class="col-md-6 mt-3">
            <label  for="inputname">HealthInsurance</label>
            <input type="number" [(ngModel)]="addSalary.medicalInsurance"  name="fromDate"  class="form-control" placeholder="" required>
            </div>     
          </div>
                  
          <div class="row">
            <div class="col-md-6 mt-3">
            <label  for="inputname">Days_Worked</label>
            <input type="number" [(ngModel)]="addSalary.workingDaysInMonths" name="workingDaysInMonths" class="form-control" placeholder="Days_Worked" required>
            </div> 
          </div>
          
           
        
        
        
        
        <div class="row">  
        <div class="col-md-6 mt-3" style="text-align: center;">
            <button type="Submit" class="btn btn-primary" (click)="formSubmit()" (click)="validate()" style="margin-left: 150px;">Submit</button>
          </div>
        <div class="col-md-6 mt-3" style="text-align: center;">
            <button type="reset" class="btn btn-danger" style="margin-right: 140px;"  >Cancel</button>
          </div>
       </div>
  
    </form>
  
   </div>


  </div>
</div>
</div>
</div>
</section>
  
  
  