<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <h6 style="color: aliceblue;">HR Managements</h6>
      <div class="d.flex">
    <button type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn bth-success" ><a routerLink="/leavereport" class="nav-link">Leave_Report</a> </button>
      </div>  
    </div>
</nav>


<table class="table mt table-bordered">
<thead>
    <tr>
        <th scope="col">index</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Email_Id</th>
        <th scope="col">FromDate</th>
        <th scope="col">ToDate</th>
        <th scope="col">Reason To Leave</th>
        <th scope="col">Action</th>
        
    </tr>
    
</thead>
 <tbody>

    <tr *ngFor="let leave of leaveEmployees; let i=index">
        <td>{{i+1}}</td>
        <td>{{leave.employee.firstName}}</td> 
        <td>{{leave.employee.emailId}}</td>
        <td>{{leave.fromDate}}</td>
        <td>{{leave.toDate}}</td>
        <td>{{leave.reasonToLeave}}</td>
             

        <button class="btn btn-info"   (click) = "updateLeave(leave.leaveId)">
          <a routerLink="/updateleave/{/leave.leaveId}">Edit</a></button>

        <button class="btn btn-danger" (click)="deleteLeave(leave.leaveId)" style="color:black">Delete</button>
         

        
        <!-- <button class="btn btn-info"   (click) = "updateProject(projects.projectId)">
          <a routerLink="/updateproject/{/projects.projectId}">Edit</a></button>
       
        <button class="btn btn-danger" (click)="deleteProject(projects.projectId)" style="color:black">Delete</button>
         -->
      </tr>
 </tbody>

 <button type="button" class="previous" (click)= "myFuction('prev',pageObject.page)">Previous</button>
<button type="button" class="next" (click)= "myFuction('next',pageObject.page)">Next</button> 


<!-- 
<div>
<button href="#" class="back" style="margin-top: 30px;margin-left: 530px;">‹</button>
<button href="#" class="nexts" style="margin-left: 40px;">›</button>
</div> -->