
  <div>
 <div  class="container min-vh-100 d-flex justify-content-center align-items-center">
    <form>
    <div class="row">
    <div class="mt-2">
        <div><h3 style="text-align: center;"> Login Here</h3></div>
      <label for="exampleInputEmail1" class="form-label">Email Id</label>
      <input type="email" class="form-control col-lg-1 " id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Password</label>
        <input type="password" class="form-control width- 100px" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      
      <div>
      <button style="margin-left: 50px ;" type="submit" class="btn btn-primary">Submit</button>
      <button style="margin-left: 50px ;"  type="" class="btn btn-primary"><a routerLink="registration" style="color: black;">Register</a></button>
      
    
      </div>
      </div>
    </form>
    </div>
    </div> 



<div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Login Here</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                          
                </form>
                </div>