<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" style="background-color: #e3f2fd;">
   
  <a href="#" class="navbar-brand">HR Managements</a>
    <ul class="navbar-nav ms-auto">
    -->
        <!-- <li class="nav-item"><a routerLink="/" class="nav-link">Home</a></li> -->
      <!-- 
        <li class="nav-item"><a routerLink="/login" class="nav-link">Login</a></li>
       </ul>
</nav>
  -->

  <!-- <h2 style="margin-top: 80px;">Hello</h2>

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <h1> Sign Up</h1>
        {{credentials | json}}
        <form name="myform" class="form-group" (ngSubmit)="f.form.valid && formSubmit() " #f="ngForm" novalidate >
          Email input
          
          <div class="form-outline mb-4">
            <label class="form-check-label" for="form1Example3">Username </label>
            <input type="email" [(ngModel)]="credentials.username"   name="Username" class="form-control" 
            placeholder="Username"  #emailId="ngModel" 
            [ngClass]="{ 'is-invalid': f.submitted && emailId.invalid }"  [ngClass]="{ 'is-invalid': f.submitted && emailId.invalid }" required>
            <div *ngIf="f.submitted && emailId.invalid" class="invalid-feedback">
              <div *ngIf="emailId.errors.required">password is required</div>
          </div>
          </div> -->

          <!-- Password input -->
          <!-- <div class="form-outline mb-4">
            <label class="form-check-label" for="form1Example3">password </label>
            <input type="password" [(ngModel)]="credentials.password"   name="password" class="form-control" 
            placeholder="password"  #password="ngModel" 
            [ngClass]="{ 'is-invalid': f.submitted && emailId.invalid }"  [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required>
            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors.required">password is required</div>
          </div>
          </div> -->

          <!-- <div class="d-flex justify-content-around align-items-center mb-4"> -->
            <!-- Checkbox -->
            <!-- <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
              <label class="form-check-label" for="form1Example3"> Remember me </label>
            </div>
            <a href="#!">Forgot password?</a>
          </div>

          Submit button
          <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
          </div>

          <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"
            role="button">
            <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
          </a>
          <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!"
            role="button">
            <i class="fab fa-twitter me-2"></i>Continue with Twitter</a>

        </form>
      </div>
    </div>
  </div>
</section> -->


<!-- <section class="vh-100" style="background-color: #eee;">
  <div class="container h-100 w-75">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5" >
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                 <form name="myform" class="form-group" (ngSubmit)="f.form.valid && formSubmit() " #f="ngForm" novalidate >

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-check-label" for="form1Example3">Username </label>
                      <input type="email" [(ngModel)]="credentials.username"   name="Username" class="form-control" 
                      placeholder="Username"  #emailId="ngModel" 
                      [ngClass]="{ 'is-invalid': f.submitted && emailId.invalid }"  [ngClass]="{ 'is-invalid': f.submitted && emailId.invalid }" required>
                      <div *ngIf="f.submitted && emailId.invalid" class="invalid-feedback">
                        <div *ngIf="emailId.errors.required">password is required</div>
                    </div>
                      <label class="form-label" for="form3Example1c">Username</label>
                    </div>
                  </div>
<!-- 
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" class="form-control" />
                      <label class="form-label" for="form3Example3c">Your Email</label>
                    </div>
                  </div> -->

                  <!-- <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" [(ngModel)]="credentials.password"   name="password" class="form-control" 
            placeholder="password"  #password="ngModel" 
            [ngClass]="{ 'is-invalid': f.submitted && emailId.invalid }"  [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required>
            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors.required">password is required</div>
          </div>
                      <label class="form-label" for="form3Example4c">Password</label>
                    </div>
                  </div>
                  
                  <div class="container text-center">
                   <button> <a (click)="redirect()">Forgot Password ?</a>
                   </button> 
                  </div> -->
<!-- 

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
                  </div>

                </form>
              

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  -->



<section class="background-radial-gradient overflow-hidden">
  <style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%);
    }
    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006B, #AD1FFF);
      overflow: hidden;
    }
    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006B, #AD1FFF);
      overflow: hidden;
    }
    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  </style>
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          The best Human Resource management Software <br />
          <span style="color: hsl(218, 81%, 75%)">for your business</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          An HRMs, or human resources management system, is a suite of software
          applications used to manage human resources and related processes throughout
          the employee lifecycle. An HRMS enables a company to fully understand its
          workforce while staying compliant with changing tax laws and labor regulations.
        </p>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form name="myform" class="form-group" (ngSubmit)="f.form.valid && formSubmit() " #f="ngForm" novalidate>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <h1 style="text-align: center;">Login</h1>
              <br>
              <div class="d-flex flex-row align-items-center mb-4">
                <!-- <i class="fas fa-user fa-lg me-3 fa-fw"></i> -->
                <div class="form-outline flex-fill mb-0">
                  <label class="form-label" for="form3Example1c">Username</label>
                  <input type="email" [(ngModel)]="credentials.username"   name="Username" class="form-control"
                  placeholder="Username"  #emailId="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && emailId.invalid }"  [ngClass]="{ 'is-invalid': f.submitted && emailId.invalid }" required>
                  <div *ngIf="f.submitted && emailId.invalid" class="invalid-feedback">
                    <div *ngIf="emailId.errors.required">password is required</div>
                </div>
                    
                </div>
              </div>
              <div class="d-flex flex-row align-items-center mb-4">
                <!-- <i class="fas fa-lock fa-lg me-3 fa-fw"></i> -->
                <div class="form-outline flex-fill mb-0">
                  <label class="form-label" for="form3Example4c">Password</label>
                  <input type="password" [(ngModel)]="credentials.password"   name="password" class="form-control"
        placeholder="password"  #password="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && emailId.invalid }"  [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required>
        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
          <div *ngIf="password.errors.required">password is required</div>
      </div>
                    
                </div>
              </div>
              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                
                <label class="form-check-label" for="form2Example33" style="margin-right: 45px;">
                  <a (click)="redirect()">Forgot Password </a>
                </label>
              </div>
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4" style="margin-left: 160px;">
                Login
              </button>
              <!-- Register buttons -->
              <div class="text-center">
                
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>