 <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" style="background-color: #e3f2fd;">
   
    <a href="#" class="navbar-brand">HR Managements</a>
      <ul class="navbar-nav ms-auto">
        
          <li class="nav-item"><a routerLink="/" class="nav-link">Home</a></li>
           <!-- <li class="nav-item"><a routerLink="/pdf" class="nav-link">PDF</a></li>  
                <li class="nav-item"><a routerLink="/projectlist" class="nav-link">Projects</a></li>
                <li class="nav-item"><a routerLink="/salarylist" class="nav-link">Salary</a></li> -->
          <li class="nav-item"><a routerLink="/login" class="nav-link">Admin</a></li>
          <!-- <li class="nav-item"><a routerLink="/employeelist" class="nav-link">Employee</a></li>
       <li class="nav-item"><a routerLink="/leavereport" class="nav-link">Leave Report Employee</a></li>
      <li class="nav-item"><a routerLink="/leavelist" class="nav-link">Leave Employee </a></li> -->
      </ul>
  </nav>
   

    <h2 style="margin-top: 80px;">Hello</h2>