<nav class="navbar navbar-light bg-primary" style="margin-top: 55px;">
    <div class="container-fluid">
      <h4 style="color: aliceblue;">Salary</h4>
      <div class="d.flex">
    
        <button type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn bth-success" >
          <a routerLink="addsalary" style="color: black;" class="nav-link">Add Salary</a></button>
      </div>  
    </div>
</nav>

<diV  style="margin-left: 16px; margin-right: 16px; width: 1350px;">
<table class="table mt- table-bordered">

  <thead>
    <tr>
        <th scope="col">index</th>
        <th scope="col">EmployeeName</th>
        <th scope="col">Email_Id</th>
        <th scope="col">Months</th>
        <th scope="col">Amount</th>
        <th scope="col">Action</th>
      </tr>
    
</thead>

 <tbody>
    <tr *ngFor="let empSalary of salary; let i=index">
        <td>{{i+1}}</td>
        <td>{{empSalary.employee.firstName}}</td>
        <td>{{empSalary.employee.emailId}}</td>
        <td>{{empSalary.months}}</td>
        <td>{{empSalary.amount}}</td>
    
       

        <button class="btn btn-info" (click) = "updateSalary(empSalary.salaryId)">
                              <a routerLink="/updatesalary/{/empSalary.salaryId}">Edit</a></button>
          
        <button class="btn btn-danger" (click)="deleteSalary(empSalary.salaryId)" style="color:black">Delete</button>
         

        
        <!-- <button class="btn btn-info"   (click) = "updateProject(projects.projectId)">
          <a routerLink="/updateproject/{/projects.projectId}">Edit</a></button>
       
        <button class="btn btn-danger" (click)="deleteProject(projects.projectId)" style="color:black">Delete</button>
         -->
      </tr>
 </tbody>
</table>
 <button type="button" (click)= "myFuction('prev',pageObject.page)" style="background-color: rgb(189, 189, 228); border-radius: 15px; margin-left: 30px; margin-top: 15px;"><</button>
 <button type="button" (click)= "myFuction('next',pageObject.page)" style="background-color: rgb(189, 189, 228); border-radius: 15px; margin-left: 10px;">></button>


</diV>