
<!-- <div style="background-color: aquamarine; width: 500px; height: 500px;  margin-top: 80px;" class="container py-5 h-100;"> -->

<div class="container; container py-5 h-100" style="margin-left: 390px;">
    <h2 class="mt-5" style="margin-left: 170px;"> Add Salary Here </h2>
    <form name="myform" class="form-group" >
       
      

      <div class="row jumbotron">
               <!-- <div class="col-md-6 mt-3">
            <label  for="inputname">Months</label>
            <input type="text" [(ngModel)]="addSalary.months"  name="months" class="form-control" placeholder="Months">
            </div>        
           -->
            <div class="col-md-6 mt-4">
              <label for="validationDefault04" class="form-label">Months</label>
              <select  [(ngModel)]="addSalary.months"  name="months"  class="form-select" id="validationDefault04" required>
                <option selected disabled value="">Choose State...</option>
                <option value="-1">Choose...</option>
                <option>January </option>
                <option>February </option>
                <option>March</option>
                <option>April</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
                <option>August</option>
                <option>September</option>
                <option>October</option>
                <option>November</option>
                <option>December</option>
              </select>
            </div>
      </div>



            <div class="col-md-6 mt-3">
            <label  for="inputname">Amount</label>
            <input type="number" [(ngModel)]="addSalary.amount" name="amount" class="form-control" placeholder="Amount">
            </div> 
           

               <div class="col-md-6 mt-4">
                  <label for="validationDefault04" class="form-label">Employee Name</label>
                  <select  [(ngModel)]="addSalary.employeeId" name="employeeId"  class="form-select" id="validationDefault04" required>
                    <option>Select One</option>
                  <option  *ngFor="let data of employeeData" [value]="data.employeeId">
                    {{data.firstName}} ({{data.emailId}})
                  </option>
                 </select>
            </div>

        

        <div class="row">
        <div class="col-md-3 mt-3" style="text-align: center;">
            <button type="Submit" class="btn btn-primary" (click)="formSubmit()"  >Submit</button>
          </div>
        <div class="col-md-3 mt-3" style="text-align: center;">
            <button type="reset" class="btn btn-danger"  >Cancel</button>
         
  
        </div>
       <!-- </div> -->



  

