
<div class="container">
    <h2 style="text-align: center;" class="mt-5"> Add Projets Here</h2>
    <form name="myform" class="form-group">
        <div class="row jumbotron">
  
            <div class="col-md-6 mt-4">
            <label  for="inputname">Project Name</label>
            <input type="text" [(ngModel)]="addProject.projectName"  name="projectName" class="form-control" placeholder="Project-Name">
            </div> 
            
            <div class="col-md-6 mt-4">
            <label  for="inputname">Client Name</label>
            <input type="text" [(ngModel)]="addProject.clientName" name="clientName" class="form-control" placeholder="Client-Name">
            </div> 
  
            <div class="col-md-6 mt-3">
            <label  for="inputname">Developing Technology</label>
            <input type="text" [(ngModel)]="addProject.developingTechnology"  name="contact" class="form-control" placeholder="Developing-technology">
            </div>        
  
            <div class="col-md-6 mt-3">
            <label  for="inputname">Database</label>
            <input type="text" [(ngModel)]="addProject.databaseTechnology" name="databaseTechnology" class="form-control" placeholder="Database">
            </div> 
           
            <div class="col-md-6 mt-3">
            <label  for="inputname">Team Leader</label>
            <input type="text"  [(ngModel)]="addProject.teamLeader" name="teamLeader"  class="form-control" placeholder="Team-Leader">
            </div>   
            
            <div class="col-md-6 mt-3">
            <label  for="inputname">From Date</label>
            <input type="date" [(ngModel)]="addProject.fromDate"  name="fromDate"  class="form-control" placeholder="">
            </div>     
  
            <div class="col-md-6 mt-3">
            <label  for="inputname">To Date</label>
            <input type="date" [(ngModel)]="addProject.toDate" name="toDate" class="form-control" placeholder="">
            </div>


            <div class="col-md-6 mt-4">
              <label for="validationDefault04" class="form-label">Employee Name</label>
              <select   [(ngModel)]="addProject.employeeId" name="employeeId" class="form-select" id="validationDefault04" required>
              <option>Select One</option>
              <option  *ngFor="let data of employeeData" [value]="data.employeeId">
                {{data.firstName}} ({{data.emailId}})
              </option>
             </select>
        </div>
            
        
        </div>
           <div class="row">
        <div class="col-md-6 mt-3" style="text-align: center;">
            <button type="Submit" class="btn btn-primary" (click)="formSubmit()" >Submit</button>
          </div>
        <div class="col-md-6 mt-3" style="text-align: center;">
            <button type="reset" class="btn btn-danger"  >Cancel</button>
          </div>
       </div>
  
    </form>
  
   </div>
  
  
  