

<div class="container">
    <h2 style="text-align: center;" class="mt-5">Leave Report !!!</h2>
    <form name="myform" class="form-group" >
        <div class="row jumbotron">
  
            <div class="col-md-6 mt-4">
            <label  for="inputname">From Date</label>
            <input type="date"  name="fisrtName" class="form-control" placeholder="">
            </div> 
            
            <div class="col-md-6 mt-4">
            <label  for="inputname">To Date</label>
            <input type="date"  name="lastName" class="form-control" placeholder="">
            </div> 
  
            <div class="col-md-7 mt-3">
            <label  for="inputname">Reason fro Leave</label>
            <input type="message"  name="contact" class="form-control" placeholder="" style="height: 130px;">
            </div>    
            
            <div class="col-md-6 mt-5" style="text-align: center;">
                <button type="Submit" class="btn btn-primary" >Submit</button>
              </div>
    
              <div class="col-md-6 mt-5" style="text-align: center;">
                <button type="reset" class="btn btn-danger">Cancel</button>
              </div>
     </div>
     </form>
     </div>
     