<!-- <div  class="offcanvas offcanvas-start" id="demo" style="width: 16%;">
    <div  width=16% class="offcanvas-header">
      <h4 class="offcanvas-title">HR Managment</h4>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body" >
      <p><i  class="fa fa-home" aria-hidden="true"></i><b><font [size]="3"> Home</font></b></p>
      <p><a  routerLink="/employeelist" class="nav-link"><i class="fa fa-user" aria-hidden="true"></i><font [size]="4"></font><b> Employee</b></a></p>
      <p><a routerLink="/projectlist" class="nav-link"><i class="fa fa-book" aria-hidden="true"></i><font [size]="3"></font><b> Projects</b></a></p>
      <p><a routerLink="/salarylist" class="nav-link"><i class="fa fa-money" aria-hidden="true"></i><font [size]="3"></font><b> Salary</b></a></p>
      <p><a routerLink="/leavelist" class="nav-link"><i class="fa fa-file-text" aria-hidden="true"></i><font [size]="3"></font><b> Leave</b></a></p>
      <p><i class="fa fa-lock" aria-hidden="true"></i><font [size]="3"><b> Log Out</b></font></p>
    </div>
  </div>
  
  
  <div class="mt-5" id="body" style="background-image: url(/assets/pic2.jpg);">
  <div class="container-fluid" >
  
    <div class="row">
      <div class="col-2">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
          <i class="fa fa-bars" aria-hidden="true"></i> 
        </button>
       
      </div>
      <div class="col-10">
        <h1 ><b><i>Human Resource Manageyuiments</i></b></h1>
      </div>
    </div>
    
  </div>
  </div> -->

  <br>
  <br>

  <div class="sidebar">
    <a class="active" href="#home" ><i class="fa fa-bars" aria-hidden="true"></i><b> Dashboard</b></a>
    <a  routerLink="/employeelist" class="nav-link"><i class="fa fa-user" aria-hidden="true"></i><font [size]="4"></font><b> Employee</b></a>
    <a routerLink="/projectlist" class="nav-link"><i class="fa fa-book" aria-hidden="true"></i><font [size]="3"></font><b> Projects</b></a>
    <a routerLink="/salarylist" class="nav-link"><i class="fa fa-money" aria-hidden="true"></i><font [size]="3"></font><b> Salary</b></a>
    <a routerLink="/leavelist" class="nav-link"><i class="fa fa-file-text" aria-hidden="true"></i><font [size]="3"></font><b> Leave</b></a>
    <a class="nav-link"><i class="fa fa-lock" aria-hidden="true"></i><font [size]="3"><b> Log Out</b></font></a>
    
  
  </div>
  

  <br>
  <div class="content">
    <div class="card  mb-3" style="max-width: 80rem;background-color:white" >
       
        <div class="card-body">
          <h5 class="card-title"></h5>
          <div class="card-core" style="height:500px;">
            <div class="row">
                <div class="col-3">
            <div class="card text-dark  mb-3" style="max-width: 15rem;background-color:#5AB5EA;">
                <div class="card-core" style="height: 40px;font-family: 'Courier New', Courier, monospace;color: gray;
                text-align:center;"> Total Employees</div>
                <div class="card-body">
                   <p class="card-text" style="text-align: center;"> {{empData}}</p>
                </div>
              </div>
              </div>
              
                <div class="col-3">
            
              <div class="card text-dark  mb-3" style="max-width: 15rem;background-color: #FAE041;">
                <div class="card-core" style="height: 40px;"></div>
                <div class="card-body">
                  <h5 class="card-title"></h5>

                </div>
              </div>
              </div>
              <div class="col-3">
            
                <div class="card text-dark  mb-3" style="max-width: 15rem;background-color: #D9534F;">
                  <div class="card-core" style="height: 40px;"></div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
  
                  </div>
                </div>
                </div>
                <div class="col-3">
            
                  <div class="card text-dark  mb-3" style="max-width: 15rem;background-color: #5CB85C;">
                    <div class="card-core" style="height: 40px;"></div>
                    <div class="card-body">
                      <h5 class="card-title"></h5>
    
                    </div>
                  </div>
                  </div>
        </div>
         <div class="row">
          <div class="col-6">
      
        <google-chart 
    [type]="myType" 
    [data]="myData" 
    [width]="width"
    [height]="height" *ngIf="ischart">
      
</google-chart>
</div>
<div class="col-6"> 
 <google-chart 
[type]="myType" 
[data]="myData1" 
[width]="width"
[height]="height" *ngIf="ischart">
  
</google-chart>
<button style="size: 0ch;" type="button" (click)="check()">check</button>
</div>
        <!-- <div class="row">
          <div class="col-6">
      
          <google-chart  style="width:100%;background-color:wheat;height: 500px;"
          [title]="title2"
          [type]="typem"
          [data]="pieChartData2"
          [columns]="pieChartColumns2" 
        >       </google-chart>
        </div>
        
        <div class="col-6">
      
          <google-chart  style="width:100%;background-color:wheat;height: 500px;"
          [title]="title1"
          [type]="typea"
          [data]="pieChartData1"
          [columns]="pieChartColumns1" 
        >       </google-chart>
        </div>
         -->
      <!-- <button style="size: 0ch;" type="button" (click)="check()">check</button>
      </div> -->
      
      
      <!-- <button type="button" (click)="check1()">check1</button>
    </div> -->
    
        
          
        </div>
        
      </div>
    
   
  

   

  <!-- [options]="options"
    (select)="onSelect($event)" -->
  <!-- <html>
    <head>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
  
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['Year', 'Sales', 'Expenses'],
            ['2004',  1000,      400],
            ['2005',  1170,      460],
            ['2006',  660,       1120],
            ['2007',  1030,      540]
          ]);
  
          var options = {
            title: 'Company Performance',
            curveType: 'function',
            legend: { position: 'bottom' }
          };
  
          var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
  
          chart.draw(data, options);
        }
      </script>
    </head>
    <body>
      <div id="curve_chart" style="width: 900px; height: 500px"></div>
    </body>
  </html>
   -->

  


  