<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <h3 style="color: aliceblue;">Details Page</h3>
      <div class="d.flex">
    <button type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn bth-success" ><a routerLink="addprojec" class="nav-link">Details Page</a> </button>
      </div>  
    </div>
</nav>
<!--
<caption>Details</caption>
<table class="table">
    
    <thead>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Contact</th>
        <th>Email Id</th>
        <th>Id</th>

      </tr>
    </thead>
    <tbody>
      
    </tbody>
   
  </table>

-->


<div class="container-fluid mt-4">
 <table class="table mt-4">
  <thead>Employee Details</thead>
    <thead style="background-color: #dbd8d8">
        <tr>
            <th >employeeId</th>
            <th >FirstName</th>
            <th >LastName</th>
            <th >Date Of Birth</th>
          </tr>
    </thead>
    <tbody>
     
      <tr >
        <td>{{employeedetails.employeeId}}</td>
        <td>{{employeedetails.firstName}}</td>
        <td>{{employeedetails.lastName}}</td>
        <td>{{employeedetails.dateOfBirth}}</td>
       
        
      </tr>

    </tbody>
  </table>
</div>


<div class="container-fluid" style="margin-top: 45px;">
  <table class="table mt-4">
        <thead style="background-color: #dbd8d8">
         <tr>
             <th >Contact</th>
             <th >Email_Id</th>
             <th >Password</th>
             <th >Gender</th>
           </tr>
     </thead>
     <tbody>
      
       <tr >
         <td>{{employeedetails.contact}}</td>
         <td>{{employeedetails.emailId}}</td>
         <td>{{employeedetails.password}}</td>
         <td>{{employeedetails.gender}}</td>
       </tr>
 
     </tbody>
   </table>
 </div>
 



 <div class="container-fluid " style="margin-top: 45px;">
  <table class="table mt-4">
       <thead style="background-color: #dbd8d8">
         <tr>
             <th >Aadhar_Card</th>
             <th >Pan_Card</th>
             <th >- - - -</th>
             <th >- - - -</th>
          </tr>
     </thead>
     <tbody>
      
       <tr >
         <td>{{employeedetails.aadharCard}}</td>
         <td>{{employeedetails.panCard}}</td>
         
       </tr>
 
     </tbody>
   </table>
 </div>
 



<div class="container-fluid" style="margin-top: 45px;">
  <table class="table mt-4">
        <thead style="background-color: #dbd8d8">
         <tr>
             <th >Designation</th>
             <th >Experience</th>
             <th >PreviousCompanyName</th>
           </tr>
     </thead>
     <tbody>
      <tr>
    
         <td>{{employeedetails.designation}}</td>
         <td>{{employeedetails.experience}}</td>
         <td>{{employeedetails.previousCompanyName}}</td>
        
        </tr>
 
     </tbody>
   </table>
 </div>
 
    

<div class="container-fluid "  style="margin-top: 45px;">
  <table class="table mt-4">
    <thead>Bank Details</thead>
     <thead style="background-color: #dbd8d8">
         <tr>
             <th >BankName</th>
             <th >CIF Account</th>
             <th >AccountNumber</th>
          </tr>
     </thead>
     <tbody>
      <tbody>
        <tr>
           <td>{{employeedetails.bankName}}</td>
           <td>{{employeedetails.cifNumber}}</td>
           <td>{{employeedetails.accountNumber}}</td>
         </tr>
   
       </tbody>
    
   </table>
 </div>



 <div class="container-fluid " style="margin-top: 50px;">
  <table class="table mt-4">
    <thead>Qualification</thead>
     <thead style="background-color: #dbd8d8">
         <tr>
             <th >qualificationId</th>
             <th >Course</th>
             <th >Board/University</th>
             <th>Percentage</th>
             <th>Passingyear</th>
             <th>Status</th>
         </tr>
     </thead>

     <tbody>
         <tr>
           <td>{{employeedetails.qualification[0].qualificationId}}</td>
           <td>{{employeedetails.qualification[0].course}}</td>
           <td>{{employeedetails.qualification[0].board}}</td>
           <td>{{employeedetails.qualification[0].percentage}}</td>
           <td>{{employeedetails.qualification[0].passingyear}}</td>
           <td>{{employeedetails.qualification[0].status}}</td>
         </tr>
      </tbody>

      <tbody>
        <tr>
          <td>{{employeedetails.qualification[1].qualificationId}}</td>
          <td>{{employeedetails.qualification[1].course}}</td>
          <td>{{employeedetails.qualification[1].board}}</td>
          <td>{{employeedetails.qualification[1].percentage}}</td>
          <td>{{employeedetails.qualification[1].passingyear}}</td>
          <td>{{employeedetails.qualification[1].status}}</td>
        </tr>
     </tbody>

     <tbody>
      <tr>
        <td>{{employeedetails.qualification[2].qualificationId}}</td>
        <td>{{employeedetails.qualification[2].course}}</td>
        <td>{{employeedetails.qualification[2].board}}</td>
        <td>{{employeedetails.qualification[2].percentage}}</td>
        <td>{{employeedetails.qualification[2].passingyear}}</td>
        <td>{{employeedetails.qualification[2].status}}</td>
      </tr>
   </tbody>

   <tbody>
    <tr>
      <td>{{employeedetails.qualification[3].qualificationId}}</td>
      <td>{{employeedetails.qualification[3].course}}</td>
      <td>{{employeedetails.qualification[3].board}}</td>
      <td>{{employeedetails.qualification[3].percentage}}</td>
      <td>{{employeedetails.qualification[3].passingyear}}</td>
      <td>{{employeedetails.qualification[3].status}}</td>
    </tr>
 </tbody>
    
   </table>
 </div>


 <div class="container-fluid " style="margin-top: 45px;">
  <table class="table mt-4">
    <thead>Per Address</thead>
     <thead style="background-color: #dbd8d8">
         <tr>
            <th>addressId</th>  
            <th>HouseNumber</th>
            <th>City</th>
            <th>PinCode</th>
            <th>State</th>
        </tr>
     </thead>
     <tbody>
          <tr>
            <td>{{employeedetails.address[0].addressId}}</td>
            <td>{{employeedetails.address[0].houseNumber}}</td>
            <td>{{employeedetails.address[0].city}}</td>
            <td>{{employeedetails.address[0].pinCode}}</td>
            <td>{{employeedetails.address[0].state}}</td>
          </tr>
     </tbody>
   </table>
 </div>

 
 <div class="container-fluid " style="margin-top: 45px;">
  <table class="table mt-4">
    <thead style="color:rgb(252, 15, 15)">Cur Address</thead>
     <thead style="background-color: rgb(248,245,245)">
         <tr>
            <th>addressId</th>  
            <th>HouseNumber</th>
            <th>City</th>
            <th>PinCode</th>
            <th>State</th>
        </tr>
     </thead>
     <tbody>
      <tr>
        <td>{{employeedetails.address[1].addressId}}</td>
        <td>{{employeedetails.address[1].houseNumber}}</td>
        <td>{{employeedetails.address[1].city}}</td>
        <td>{{employeedetails.address[1].pinCode}}</td>
        <td>{{employeedetails.address[1].state}}</td>
      </tr>
   </tbody>
        </table>
 </div>






 