<nav class="navbar navbar-light bg-success" style="margin-top: 55px;">
    <div class="container-fluid">
      <h4 style="color: aliceblue;">Employee Page</h4>


    <div class="input-group" style="width: 300px; margin-left: 600px;">
          <input mdbInput type="search" class="form-control" placeholder="Search....." id="keywordSearch" name="keywordSearch" #keywordSearch/>
              <button type="button" class="btn btn-primary" style="width: 50px;" (click)="search(keywordSearch.value)">
            <!-- <i class="fas fa-search"></i> -->
        </button>
    </div>


      <div class="d.flex">
        <button type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn bth-success" style="color:black; background-color: rgb(220, 209, 231);">
        <a [routerLink]="['../registration']" class="nav-link">Add Employee</a></button>
    
       </div>  
    </div>
</nav>

<table class="table  table-bordered">
<thead>
    <tr>
        <th scope="col">index</th>
        <th scope="col">FirstName</th>
     <!--   <th scope="col">LastName</th> -->
        <th scope="col">Contact</th>
        <th scope="col">EmailId</th>

    <!--    <th scope="col">AadharCard</th>
        <th scope="col">Pancard</th>
        <th scope="col">BankName</th>
        <th scope="col">AccountNumber</th>
        <th scope="col">CIF</th>
        <th scope="col">Experience</th>
        <th scope="col">PreviousCompanyName</th>
        <th scope="col">Designation</th>
        <th scope="col">Password</th>
        <th scope="col">Gender</th>
        <th scope="col">City</th>
        <th scope="col">Course</th>
        <th scope="col">DateOFBirth</th> -->
        <th scope="col">Action</th>
        
    </tr>
    
</thead>
 <tbody>
    <tr *ngFor="let employee of employees; let i=index ">
        
        <td>{{(pageObject.size*(pageObject.page))+i+1}}</td>
        <td ><a style="color:blue;cursor: pointer;" (click) = "getDetails(employee.employeeId)">{{employee.firstName}}</a></td>
        <td>{{employee.contact}}</td>
        <td>{{employee.emailId}}</td>
      <!--  <td>{{employee.aadharCard}}</td>
        <td>{{employee.panCard}}</td>
        <td>{{employee.cisfNumber}}</td>
        <td>{{employee.bankName}}</td>
        <td>{{employee.accountNumber}}</td>
        <td>{{employee.experience}}</td>
        <td>{{employee.previousCompanyName}}</td>
        <td>{{employee.designation}}</td>
        <td>{{employee.password}}</td>        
        <td>{{employee.gender}}</td>
        <td>{{employee.dateOfBirth}}</td>
        <td>{{employee.address.city}}</td>
       --><!-- <td>{{qualification.qualification10.course}}</td> -->
       
       <button class="btn btn-info"   (click) = "updateEmployee(employee.employeeId)">
            <a routerLink="/updateemployee/{/employee.employeeId}" style="text-decoration: none;">Edit</a></button>
        
            <button class="btn btn-danger" (click)="deleteEmployee(employee.employeeId)" style="color:black">Delete</button>
    </tr>
 </tbody>

</table>
<button type="button" (click)= "myFuction('prev',pageObject.page)" style="background-color: rgb(189, 189, 228); border-radius: 15px; margin-left: 30px; margin-top: 15px;" ><</button>
<button type="button" (click)= "myFuction('next',pageObject.page)" style="background-color:rgb(189, 189, 228); border-radius: 15px; margin-left: 10px;" >></button>
















<!-- <nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <h3 style="color: aliceblue;">HR Managements</h3>
      <div class="d.flex">
    <button type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn bth-success" >Add Employee </button>
      </div>  
    </div>
</nav> -->

<!-- <table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">EmployeeId</th>
            <th scope="col">EmployeeName</th>
            <th scope="col">Email Id</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">Action</th>
          </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>Raghav</td>
            <td>raghav@gmail.com</td>
            <td>45676654</td>
            <td>
                <button class="btn btn-info">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table> -->

