
<nav class="navbar navbar-light bg-success" style="margin-top: 55px;">
    <div class="container-fluid">
      <h4 style="color: aliceblue;">HR Managements</h4>

      <div class="input-group" style="width: 300px; margin-left: 600px;">
        <input mdbInput type="search" class="form-control" placeholder="Search....." id="keywordSearch" name="keywordSearch" #keywordSearch/>
            <button type="button" class="btn btn-primary" style="width: 50px;" (click)="search(keywordSearch.value)">
          <!-- <i class="fas fa-search"></i> -->
      </button>
  </div>
      <div class="d.flex">
        <button type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn bth-success" style="color:black; background-color: rgb(220, 209, 231);"><a routerLink="addproject" class="nav-link">Add Projects</a> </button>
      </div>  
    </div>
</nav>


<table class="table mt- table-bordered">
<thead>
    <tr>
        <th scope="col">index</th>
        <th scope="col">ProjectName</th>
        <th scope="col">ClientName</th>
        <th scope="col">Technology</th>
        <th scope="col">Database</th>
        <th scope="col">TeamLeader</th>
        <th scope="col">FromDate</th>
        <th scope="col">ToDate</th>
        <th scope="col">Action</th>
        
    </tr>
    
</thead>
 <tbody>
    <tr *ngFor="let projects of addProjects;let i=index">
        
        <td>{{i+1}}</td>
        <td>{{projects.projectName}}</td>
        <td>{{projects.clientName}}</td>
        <td>{{projects.developingTechnology}}</td>
        <td>{{projects.databaseTechnology}}</td>
        <td>{{projects.teamLeader}}</td>
        <td>{{projects.fromDate}}</td>
        <td>{{projects.toDate}}</td>
      
       
        <button class="btn btn-info"   (click) = "updateProject(projects.projectId)">
          <a routerLink="/updateproject/{/projects.projectId}" style="text-decoration: none;">Edit</a></button>
       
        <button class="btn btn-danger" (click)="deleteProject(projects.projectId)" style="color:black">Delete</button>
        
      </tr>
 </tbody>

</table>

<button type="button" (click)= "myFuction('prev',pageObject.page)"     style="background-color: rgb(189, 189, 228); border-radius: 15px; margin-left: 30px; margin-top: 15px;" ><</button>
<button type="button" (click)= "myFuction('next',pageObject.page)"     style="background-color:rgb(189, 189, 228); border-radius: 15px; margin-left: 10px;">></button>