
body {
    background: #e2e2e2 !important;
    height: 635px;
    }
    
    #forgot{
    
         padding: 20px;
           }
    
           
    #forgot .container #forgot-row #forgot-column #forgot-box
    {
        margin-top: 120px;
        max-width: 700px;
        height: 420;
        border: 0.5px solid #9C9C9C;
        background-color: white;
    }
    