<p>home works!</p>
<div id="carouselExample" class="carousel slide" style="margin-top: 50px;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <div id="body" style="background-image: url(/assets/4565.jpg);">
      </div>
  </div>










 
  <div  class="offcanvas offcanvas-start" id="demo" style="width: 16%;">
    <div  width=16% class="offcanvas-header">
      <h4 class="offcanvas-title">HRM</h4>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body" >
      <p><i class="fa fa-home" aria-hidden="true"></i><b><font [size]="3"> Home</font></b></p>
      <p><i class="fa fa-user" aria-hidden="true"></i><font [size]="3"><b>EmployeeList </b></font></p>
      <p><i class="fa fa-book" aria-hidden="true"></i><font [size]="3"><b> Project List</b></font></p>
      <p><i class="fa fa-money" aria-hidden="true"></i><font [size]="3"><b> Salary</b></font></p>
      <p><i class="fa fa-file-text" aria-hidden="true"></i><font [size]="3"><b> Report</b></font></p>
      <p><i class="fa fa-lock" aria-hidden="true"></i><font [size]="3"><b> Log Out</b></font></p>
    </div>
  </div>

  
  <div id="body" style="background-image: url(/assets/4565.jpg);">
  <div class="container-fluid" >
  
    <div class="row">
      <div class="col-2">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
          <i class="fa fa-bars" aria-hidden="true"></i> 
        </button>
       
      </div>
      <div class="col-10">
        <h1 style="text-align: center;"><b><i></i></b></h1>
      </div>
    </div>
    
  </div>
</div> 









