<nav class="navbar navbar-light bg-success" style="margin-top: 55px;">
    <div class="container-fluid">
      <h4 style="color: aliceblue;">HR Managements</h4>

      <div class="input-group" style="width: 300px; margin-left: 600px;">
     

          <!-- <i class="fas fa-search"></i> -->
    
  </div>
      <div class="d.flex">
        <button type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn bth-success" style="color:black; background-color: rgb(220, 209, 231);">Leave</button>
      </div>  
    </div>
</nav>
